<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Erro</title>

</head>
<body>


<h1><%= message %></h1>
<h2><%= error.status %></h2>



<center><img style="height: 500px" src="<%= errorPic %>"></center>

<pre><%= error.stack %></pre>

<!-- <img src="img/erro.jpg"  height="42" width="42"> -->
</body>
</html>