
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lista</title>

</head>
<body>

    <a href="/home"><button>Home</button></a> 
    <p>A lista contem <%= musicas.length %> músicas</p>

<ul>
    <% musicas.forEach((elementos)=> { %>
        <li>
            <h2>
                <%= elementos %>
            </h2>
           
        </li>
        <hr />
    <% }) %>
</ul>


</body>
</html>